@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap');

body{
 margin: 0;
 padding: 0;
 background: radial-gradient(#a429bc,#cc1aaf6b,#7f2092);
 height: 100vh;
 overflow: hidden;
 font-family: 'Noto Sans TC', sans-serif;
}
.center{
 position: relative;
 text-align: center;
 padding-bottom: 1px;
 border-bottom: 3px solid #5c1769;
}
.center .header{
	position: relative;
	font-size: 1.4rem;
	font-weight: bold;
	color: white;
	padding: 11px 0 19px 27px;
	background: #cc1aaf;
	border-bottom: 1px solid #370e3f;
	text-align: center;
	width: 103%;
	box-shadow: 2px 3px 18px 3px #868686;
}
.log_btn a {
    color: #cc1aaf !important;
}
.center form{
 position: absolute;
 background: white;
 width: 100%;
 padding: 23px;
 border-top: 1px solid #6d1c7d6b;
 border-radius: 0 0 5px 5px;
 box-shadow: 7px 17px 19px 6px #4c4c4c;
}
form input{
 height: 50px;
 width: 78%;
 padding: 0 10px;
 border-radius: 3px;
 border: 1px solid silver;
 font-size: 18px;
 outline: none;
 margin-bottom: 18px;
}
form input[type="text"]{
 margin-top: 20px;
 color: black;
 border: 2px solid #cc1aaf;
 border-radius: 14px;
}
form i{
 position: absolute;
 font-size: 25px;
 color: grey;
 margin: 15px 0 0 -45px;
}
i.fa-lock{
 margin-top: 35px;
}
form input[type="submit"]{
 margin-top: 40px;
 margin-bottom: 40px;
 width: 130px;
 height: 45px;
 color: white;
 cursor: pointer;
 line-height: 45px;
 border-radius: 45px;
 border-radius: 5px;
 background: #5c1769;
}
form input[type="submit"]:hover{
 background: #491254;
 transition: .5s;
}
form a{
 text-decoration: none;
 font-size: 18px;
 color: #7f2092;
 padding: 0 0 0 20px;
}

/* Tabs */
log_btn a:hover {
    color: #fff ;
}
#tabs{
	background: #ffffff;
	width: 50%;
	margin: 53px auto;
	border-radius: 8px 8px 0px 0px;
	box-shadow: 3px 5px 19px 6px #4c4c4c;
} 
#tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #f3f3f3;
    background-color: transparent;
    border-color: transparent transparent #f3f3f3;
    border-bottom: 4px solid #8a0061;
    font-size: 20px;
    font-weight: bold;
    box-shadow: -6px 6px 16px -2px #d5bfff;
}
#tabs .nav-tabs .nav-link {
    color: #cc1aaf;
    font-size: 20px;
    border-right: 3px solid #cc1aaf;
}

/* Custom Tabs */

.center p , .center .social-links {
    padding: 8px 42px;
    color: #6d6767;
    margin-bottom: 6px;
    font-size: 1rem;
}

.center .social_icon {
    text-align: center;
}

.log_btn {
    padding: 11px 41px;
    border-radius: 16px;
    border: 2px solid #cc1aaf;
    color: #cc1aaf;
    background: #fff;
    margin-bottom: 10px;
}

.log_btn:hover {
    background: #cc1aaf;
    color: #fff;
}

.center .header:after {
    position: absolute;
    content: "";
    border-color: transparent #770064;
    border-style: solid;
    border-width: 14px 0px 14px 14px;
    height: 0px;
    width: 0px;
    right: 7px;
    transform: rotate(224deg);
    top: 55px;
}

.social-links a i {
    border-radius: 57px;
    border: 1px solid #cc1aaf;
    padding: 15px;
    width: 14px;
    height: 14px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.social-links a i {
    color: #cc1aaf;
}




#intro .intro-info .btn-get-started {
    background: #ffc107;
    box-shadow: 4px 11px 38px #00000085;
    color: #000000;
    padding: 13px 33px;




